<!-- footer -->
<footer>
    <a href="#inicio" [routerLink]="['']" class="arriba" (click)="scrollToTop()">
        <i class="fa-solid fa-house fa-xl"></i>
    </a>
    <div class="redes">
        <h2><i class="fa-solid fa-arrow-right fa-rotate-90"></i> Redes Sociales <i class="fa-solid fa-arrow-right fa-rotate-90"></i></h2>
        <a href="https://www.facebook.com/ArtilmL"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://twitter.com/ArthurM42412545"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/arthur-morales-71795a21a/"><i class="fa-brands fa-linkedin-in"></i></a>
    </div>
</footer>