<!-- SECCION CURRICULUM -->
<section id="curriculum" class="curriculum">
    <div class="contenido-seccion">
        <h2>Curriculum</h2>
        <div class="row">
            <div class="col-md-6">
                <h3>Educación</h3>
                <div class="item izq shadow-effect">
                    <h4 class="h4-responsive">Estudio Superior</h4>
                    <span class="casa">Universidad Nacional de Ucayali </span>
                    <span class="fecha">2005 - 2008</span>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
                <div class="item izq shadow-effect">
                    <h4 class="h4-responsive">Estudio Secundario</h4>
                    <span class="casa">Institución Educativa La Inmaculada </span>
                    <span class="fecha">2007 - 2011</span>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
                <div class="item izq shadow-effect">
                    <h4 class="h4-responsive">Estudio Primario</h4>
                    <span class="casa">Institución Educativa Santa Rosa </span>
                    <span class="fecha">2001 - 2006</span>
                    <div class="conectori">
                        <div class="circuloi"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <h3>Experiencia Laboral</h3>
                <div class="item der shadow-effect">
                    <h4>Practicante Pre Profesional I </h4>
                    <span class="casa">Red de Salud N° 01 Coronel Portillo.</span>
                    <span class="fecha">Abril 2019 - Julio 2019</span>
                    <div class="conectord">
                        <div class="circulod"></div>
                    </div>
                </div>
                <div class="item der shadow-effect ">
                    <h4>Practicante Pre Profesional II</h4>
                    <span class="casa">JSM Multiservicios Generales E.I.R.L.</span>
                    <span class="fecha">Noviembre 2022 - Febrero 2023 </span>
                    <div class="conectord">
                        <div class="circulod"></div>
                    </div>
                </div>
                <div class="item der shadow-effect">
                    <h4>Soporte Técnico</h4>
                    <span class="casa">Servicentro Minelu E.I.R.L.</span>
                    <span class="fecha">2005 - 2008</span>
                    <div class="conectord">
                        <div class="circulod"></div>
                    </div>
                </div>
            </div>
        </div>
        <button (click)="downloadCV()">
            Descargar CV <i class="fa-solid fa-download"></i>
            <span class="overlay"></span>
        </button>
    </div>
</section>