/* SECCION HOME */
.card-body {
    padding: 25px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.card .card-body .contenido-banner h1 {
    font-family: 'Poppins', sans-serif;
    margin-top: 65px;
    font-size: 30px;
    margin-bottom: 10px;
}
.card .card-body .contenido-banner h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: normal;
}

.box {
    position: relative;
    width: 300px;
    height: 300px;
    background: #1e2326;
    border-radius: 50%;
    overflow: hidden;
    top: 55px;
}
.box::before {
    content: '';
    position: absolute;
    inset: -10px 70px;
    background: linear-gradient(140deg, #38cef3, #f317f3);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}
.box:hover::before {
    inset: -20px 0px;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.box::after {
    content: '';
    position: absolute;
    inset: 10px;
    background: #fafafc;
    border-radius: 50%;
    z-index: 1;
}
.inicio .contenido-banner h1 {
    margin-top: 40px;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;

}
.inicio .contenido-banner h2 {
    font-size: 15px;
    font-weight: normal;
}
