/* SECCION SOBRE MI */
.sobremi {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
    height: 100%;
    margin-bottom: -34px;
}

.sobremi .container {
    max-width: 1100px;
    margin: auto;
    height: 100%;
}

.sobremi h2 {
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

.sobremi .container p {
    line-height: 20px;
    text-align: justify;
}

.sobremi .container p span {
    font-size: 20px;
    color: #38cef3;
    font-weight: bold;
}

.sobremi .row {
    display: flex;
}

.sobremi .row .col-md-6 h3 {
    font-size: 28px;
    font-family: 'Familjen Grotesk', sans-serif;
    margin-bottom: 45px;
    
}

.sobremi .row .col-md-6 ul {
    /*quita estilo de texto*/
    list-style: none;
}

.sobremi .row .col-md-6 ul li {
    margin: 13px -25px 10px;
    font-size: 0.9rem;
}

.sobremi .row .col-md-6 ul li strong {
    display: inline-block;
    color: #38cef3;
    width: 100%;
    max-width: 120px;
    font-size: 1rem;
}

.sobremi .row .col-md-6 ul li span {
    background-color: #38cef3;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .row .col-md-3 .row {
    display: flex;
    flex-wrap: wrap;
}

.sobremi .row .col-md-6 .interes {
    width: 100%;
    height: 110px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobremi .row .col-md-3 .interes:hover {
    background-color: #38cef3;
    box-shadow: 0 0 20px #38cef3;
}

.sobremi .row .interes i {
    font-size: 30px;
    margin-bottom: 10px;
}

