<section id="portfolio" class="portfolio">
    <div class="contenido-seccion">
        <h2>Portafolio</h2>
        <div class="galeria">
            <div class="proyecto1">
                <a href="https://www.facebook.com/gaming/AnimemediaxD">
                    <div class="overlay">
                        <h3>Diseño de Pagina de Facebook</h3>
                        <p>Animemedia</p>
                    </div>
                </a>
            </div>
            <div class="proyecto2">
                <a href="https://www.facebook.com/grifosdomi">
                    <div class="overlay">
                        <h3>Diseño de Logotipo</h3>
                        <p>Servicentro Minelu</p>
                    </div>
                </a>
            </div>
            <div class="proyecto3">
                <a href="https://arthuram24.github.io/foodweb/">
                    <div class="overlay">
                        <h3>Diseño Web de comidas</h3>
                        <p>PuntoSabroso</p>
                    </div>
                </a>
            </div>
            <div class="proyecto4">
                <a href="https://github.com/ArthurAM24/ProyectoFinal">
                    <div class="overlay">
                        <h3>Sistema de Pedidos</h3>
                        <p>Android</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>