<!-- SECCION SKILLS -->
<section class="skills" id="skills">
    <div class="contenido-seccion">
        <h2>Skills</h2>
        <div class="fila">
            <!-- Lenguajes de Programación -->
            <div class="col">
                <h3>Lenguajes de Programación</h3>
                <div class="skill">
                    <span>Java</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>85%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Php</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>80%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>C#</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>65%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>C</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>60%</span>
                        </div>
                    </div>
                </div>
                <!-- Lenguajes de Programación -->
            </div>

            <!-- Base de datos -->
            <div class="col">
                <h3>Base de datos</h3>
                <div class="skill">
                    <span>Firebase</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>45%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>MySQL</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>80%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>SQL Server</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>60%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>MariaDB</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>40%</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Base de datos -->

        </div>

        <div class="fila">
            <!-- Frameworks -->
            <div class="col">
                <h3>Frameworks</h3>
                <div class="skill">
                    <span>Java Spring Boot 3</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>80%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Angular</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>83%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Laravel</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>60%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Eclipse</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>60%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>IntelliJ IDEA</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>45%</span>
                        </div>
                    </div>
                </div>
                <!-- Frameworks -->
            </div>

            <!-- Habilidades o Competencias -->
            <div class="col">
                <h3>Habilidades o Competencias</h3>
                <div class="skill">
                    <span>JavaScript</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>86%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>HTML 5</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>81%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>CSS</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>79%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>API REST</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>55%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>JPA</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>55%</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Habilidades o Competencias -->

        </div>

        <div class="fila">
            <!-- Sistemas Operativos -->
            <div class="col">
                <h3>Sistemas Operativos</h3>
                <div class="skill">
                    <span>Windows</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>90%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Linux</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>85%</span>
                        </div>
                    </div>
                </div>
                <!-- Sistemas Operativos  -->
            </div>

            <!-- Metodologías de Desarrollo -->
            <div class="col">
                <h3>Metodologías de Desarrollo</h3>
                <div class="skill">
                    <span>Scrum</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>65%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Cascada</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>45%</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Metodologías de Desarrollo -->

        </div>

        <div class="fila">
            <!-- Conocimientos -->
            <div class="col">
                <h3>Conocimientos</h3>
                <div class="skill">
                    <span>Diseño</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>90%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Redes</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>85%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Ofimática</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>85%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Diseño de Sistemas</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>65%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Informática</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>85%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Programación Orientada a Objetos</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>75%</span>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Conocimientos  -->

            <!-- Habilidades Técnicas -->
            <div class="col">
                <h3>Habilidades Técnicas</h3>
                <div class="skill">
                    <span>Arduino</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>55%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Spring Framework</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>80%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Android Studio</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>60%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Google Cloud</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>79%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Docker</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>41%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>WordPres</span>
                    <div class="barra-skill">
                        <div class="progreso">
                            <span>88%</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Metodologías de Desarrollo -->
        </div>

    </div>
</section>